@keyframes slide-l {
    0% {
        position: relative;
        left: -10%;
    }
    100% {
        left: 10%;
    }
}
@keyframes slide-r {
    0% {
        position: relative;
        right: -10%;
    }
    100% {
        right: 10%;
    }
}
@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes walk-cycle {
    0% {
        /* left: -50%; */
        background-position: 0px;
    }
    100% {
        /* left: 110%; */
        background-position: -8192px;
    }
}
@keyframes moving-cycle {
    0% {
        left: -50%;
    }
    100% {
        left: 110%;
    }
}

.slide-anim-l {
    animation-name: slide-l;
    animation-duration: 1.5s;
    animation-timing-function: ease-in;
    animation-iteration-count: initial;
}
.slide-anim-r {
    animation-name: slide-r;
    animation-duration: 1.5s;
    animation-timing-function: ease-in;
    animation-iteration-count: initial;
}
.fade-in {
    animation-name: fade-in;
    animation-duration: 1.5s;
    animation-timing-function: ease-in;
    animation-iteration-count: initial;
}
body {
    margin: 0px;
    width: 100%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1em;
    align-content: center;
}

/* Home Page */
.title-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.title {
    display: grid;
    margin-top: 15vh;
    padding: 10vh 5vh 0 5vh;
    height: 200px;
    align-items: center;
    justify-content: center;
}
@media only screen and (orientation: landscape) {
    .title {
        margin-top: 5vh;
    }
}
.title > a {
    text-decoration: none;
}
.vmp-bg {
    display: flex;
    text-align: center;
    justify-content: center;
    margin-top: 5vh;
    transition: 0.5s;
}
.vmp-bg > a {
    text-decoration: none;
    background: linear-gradient(-90deg, rgba(255, 255, 255, 0.4), rgba(138, 138, 138, 0.4));
    border: 3px solid rgb(1, 17, 7);
    border-radius: 3px;
    display: block;
    padding: 15px 50px;
    height: 100%;
    width: 100%;
    color: rgb(1, 17, 7);
    font-size: 1.4em;
    font-weight: 800;
}
.vmp-bg:hover {
    background: linear-gradient(-90deg, rgba(36, 41, 36, 0.4), rgba(1, 122, 1, 0.1));
    transform: scale(1.1, 1.1);
}

h1 {
    font-size: 1.7em;
    color: blanchedalmond;
    text-shadow: -1.5px -1.5px #000, -1.5px 1.5px #000, 1.5px -1.5px #000, 1.5px 1.5px #000;
}
.Name {
    text-shadow: none;
    margin: 5px 5px 5px 0px;
    font-size: 2.0em;
    background: linear-gradient(90deg, #033E4E, #00181E);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* .cougar-moving {
    position: fixed;
    bottom: 50px;
    transform: scale(0.7);
    z-index: 0;
    margin: 0 auto;
    -webkit-animation: moving-cycle 4.5s ease-in-out infinite;
	-o-animation: moving-cycle 4.5s ease-in-out infinite;
	animation: moving-cycle 4.5s ease-in-out infinite;
}
.cougar-anim {
    width: 512px;
    height: 256px;
    background: url(images/cougar-sprite-sheet.png);
    -webkit-animation: walk-cycle 1.9s steps(16) infinite;
	-o-animation: walk-cycle 1.9s steps(16) infinite;
	animation: walk-cycle 1.9s steps(16) infinite;
} */

/* About Me Page */

.profile_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 150px;
}
.profile_header {
    display: grid;
    grid-template-columns: auto auto auto;
    margin: 25px 10px;
}
.profile_pic {
    background: linear-gradient(65deg, #033E4E 0%, #00181E 100%),
                linear-gradient(-65deg, #033E4E 0%, #00181E 100%);
    padding: 5px;
    height: 267px;
    width: 400px;
    margin: 20px;
    border-radius: 20px;
}
.profile_style {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 2em;
}
.resume-bg {
    text-align: center;
    text-shadow: -2px -2px rgb(1, 29, 1), 2px -2px rgb(1, 29, 1),-2px 2px rgb(1, 29, 1), 2px 2px rgb(1, 29, 1); 
    border: 5px double blanchedalmond;
    border-radius: 10px;
    height: 35px;
    width: 200px;
    font-size: 1.5em;
    font-weight: 900;
    transition: 0.5s;
    /* margin-bottom: 150px; */
}
.resume-bg:hover {
    background: linear-gradient(-90deg, rgba(36, 41, 36, 0.4), rgba(1, 122, 1, 0.1));
    border-color: black;
    transform: scale(1.1, 1.1);
}
.resume-bg > a {
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: blanchedalmond;
    
}

.profile_about {
    display: grid;
    grid-template-columns: 25% auto 33%;
    gap: 10px 5px;
    align-items: center;
    justify-items: center;
    margin: 25px 0px;
    padding: 20px 20px;
    margin-bottom: 15vh;
    width: 95vw;
    /* background-color: rgba(0, 12, 0, 0.5); */
    border-radius: 20px;
}
.about {
    background: linear-gradient(90deg, rgba(0, 24, 30, 0.6) 0%, rgba(1, 43, 54, 0.6) 100%);
    /* margin: 20px 50px; */
    padding: 20px;
    color: white;
    font-size: 0.6em;
    border-radius: 10PX;
}
.info1 {
    grid-column: 1 / 4;
}
.info2 {
    grid-column: 1 / 4;
}
.info3 {
    grid-column: 1 / 4;
}
.info4 {
    grid-column: 1 / 4;
}

.ab-img-adj {
    grid-column: 3 / 4;
}


.about-image {
    background: linear-gradient(45deg, #033E4E 0%, #00181E 100%),
                linear-gradient(-45deg, #033E4E 0%, #00181E 100%);
    padding: 3px;
    margin: 0;
    justify-self: center;
    width: 200px;
    height: 200px;
    border-radius: 20px;
    transition: 1s;
}
.about-image:hover {
    transform: scale(1.1);
}

@media only screen and (orientation: landscape){
    .profile_about{
        grid-template-columns: 25% auto 20%;
    }
    .about{
        font-size: 0.85em;
    }
    .info1 {
        grid-column: 2 / 3;
    }
    .info2 {
        grid-column: 2 / 3;
    }
    .info3 {
        grid-column: 2 / 3;
    }
    .info4 {
        grid-column: 2 / 3;
    }
    .ab-img-adj {
        grid-column: 1 / 2;
    }
}


/* Contact Page */

#form-align {
    display: block;
}

.form-box {
    display: flex;
    align-items: center;
    justify-self: center;
    width: 100%;
    flex-direction: column;
}

#form-bg {
    font-size: 1.2em;
    border-radius: 10px;
    color: azure;
}

input {
    background-color: rgba(35, 66, 3, 0.637);
    color: cornsilk;
    border: 3px solid cornsilk;
    border-radius: 20px;
    padding: 20px 35px;
    width: 60%; 
}

form {
    font-size: 0.8em;
    display: grid;
    height: 1600px;
    align-content: center;
    grid-template-rows: auto 110px 110px 112px 300px 85px 70px 100px auto;
    grid-template-columns: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 10px;
}

@media only screen and (orientation: landscape){
    form {
        height: 900px;
        grid-template-rows: auto 85px 85px 87px 200px 85px 70px 100px auto;
    }
    input {
        width: 40%;
        padding: 10px 30px;
    }
    .reasons {
        padding: 10px 30px;
    }
    .message {
        height: 200px;
    }
}

.reasons {
    background-color: rgba(35, 66, 3, 0.637);
    text-align: center;
    color: cornsilk;
    border: 3px solid cornsilk;
    border-radius: 30px;
    padding: 15px 30px;
    width: 30%;
}

.message {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: rgba(35, 66, 3, 0.637);
    border-radius: 10px;
    border: 3px solid cornsilk;
    color: cornsilk;
    text-align: start;
    width: 60%;
    height: 300px;
    padding: 15px 10px;
}

.submit {
    width: 150px;
    height: 70px;
    background-color: rgba(53, 100, 5, 0.637);
    color: blanchedalmond;
    border: 3px solid white;
    border-radius: 40px;
    transition: 0.5s;
}
.submit:hover {
    cursor: pointer;
    border-color: black;
    transform: scale(1.1, 1.1);
    background-color: rgba(64, 124, 4, 0.637);
}

/* Projetcs Page*/

#page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 60px;
}
.title-container {
    font-size: 2em;
    margin: 30px;
    padding: 10px 20px;
    border-radius: 20px;
}


.projects-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background: 
    linear-gradient(-90deg, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 0.3) 10% , rgba(128, 128, 128, 0.3) 90% , rgba(128, 128, 128, 0.05) 100%),
    linear-gradient(0deg, rgba(0, 0, 0, 0.05) 0%, rgba(0, 0, 0, 0.3) 10% , rgba(0, 0, 0, 0.3) 90% , rgba(0, 0, 0, 0.05) 100%),
    linear-gradient(45deg, rgba(0, 128, 0, 0.3) 0%, rgba(255, 255, 255, 0.3) 25%, rgba(0, 128, 0, 0.3) 50%, rgba(255, 255, 255, 0.3) 75%, rgba(0, 128, 0, 0.3) 100%); */
    border-radius: 20px;
    width: 100vw;
    padding: 10px;
    color: ivory;
}
.project {
    display: grid;
    grid-template-columns: 25vw auto 40vw;
    grid-template-areas: 
    "Info . Image";
    height: 300px;
    border-radius: 5px;
    width: 85%;
    margin: 50px 0px;
    padding: 20px 0px;
    background: linear-gradient(90deg, rgba(12, 11, 11, 0.5), rgba(4, 126, 4, 0.5));

}
.project-info {
    align-self: center;
    grid-column: 1 / 3;
    padding-left: 10px;
}
.icon {
    height: 30px;
    width: 30px;
}
.image-box {
    display: grid;
    grid-column-start: 3;
    align-self: center;
}
.project-image {
    height: auto;
    width: 85%;
    justify-self: center;
    align-self: center;
    border: 2px solid black;
    transition: 1s; 
}

.project-image:hover {
    transform: scale(1.1);
    border-color: blanchedalmond;
}

/*Background Styling*/
.bkg-st {
    position: fixed;
    z-index: -10;
    height: 100%;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.bkg_1 {
    background-image: url("images/Lanscape_Wilcox_PinkSky.JPG");
}
.bkg_2 {
    background-image: url("images/Lanscape_Wilcox_Fire.JPG");
}

.logo {
    width: 40px;
    height: auto;
}

.logo-2 {
    width: 10vw;
    height: auto;
}
.logo-3 {
    margin-right: 20px;
    width: 75px;
    height: auto;
}


/* NAV BAR */

.bottom-nav {
    height: 80px;
    background: linear-gradient(rgb(20, 20, 20, 0.8) 10%, rgb(26, 26, 26) 40%, rgb(32, 32, 32) 50%, rgb(26, 26, 26) 60%, rgb(20, 20, 20, 0.8) 90%);
    overflow: hidden;
    position: fixed;
    bottom: 0px;
    width: 100%;
    justify-content: center;
    align-content: center;
    filter: opacity(100%);
}
#bottom-nav-links {
    display: grid;
    grid-template-columns: auto 20vw 20vw 20vw 20vw auto;
    grid-template-rows: 1;
    height: 100%;
    margin: 0;
    padding: 0;
}
#bottom-nav-links > li  {
    list-style: none;
    align-self: center;
    justify-self: center;
}
#bottom-nav-links > li > a {
    display: block;
    text-align: center;
    justify-content: center;
    width: 140px;
    height: 30px;
}
#links {
    font-size: 1.25em;
    text-decoration: none;
    padding: 1vh 1vw;
    margin: 0;
    color: blanchedalmond;
    background-color: rgba(0, 0, 0, 0.822);
    border-radius: 50px;
    margin: 0;
}
#active {
    font-size: 1.25em;
    text-decoration: none;
    padding: 1vh 1vw;
    margin: 0;
    border-radius: 50px;
    background-color: black;
    color: green;
}
#links:hover {
    background-color: black;
    color: green;
}