@keyframes slide {
    0% {
        position: relative;
        left: -10%;
        color: transparent;
        background: transparent;
    }
    100% {
        left: 10%;
    }
}
body {
    margin: 0px;
    width: 100%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1em;
    background: linear-gradient(90deg, rgba(12, 11, 11, 0.8), rgba(4, 126, 4, 0.8));
    align-content: center;
}

/* Home Page */
.title-box {
    display: flex;
    align-items: center;
    justify-content: center;
}
.title {
    display: flex;
    height: 90vh;
    width: 75vw;
    background: linear-gradient(-90deg, rgba(255,255,255, 0.15), rgba(0,200,0, 0.15));
    border-radius: 50px;
    align-items: center;
    justify-content: center;
}
h1 {
    margin: 25px;
    font-size: 2em;
    animation-name: slide;
    animation-duration: 1.5s;
    animation-timing-function: ease-in;
    animation-iteration-count: initial;
}
.Name {
    margin: 5px;
    font-size: 2em;
    background: linear-gradient(90deg, rgb(2, 70, 13), rgb(17, 12, 12));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation-name: slide;
    animation-duration: 1.5s;
    animation-timing-function: ease-in;
    animation-iteration-count: initial;
}

/* About Me Page */

.profile_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.profile_header {
    margin: 25px 10px;
    background-color: rgba(0, 12, 0, 0.3);
    border-radius: 20px;
}
.profile_pic {
    height: 200px;
    width: 300px;
    margin: 20px;
    animation-name: slide;
    animation-duration: 1.5s;
    animation-timing-function: ease-in;
    animation-iteration-count: initial;
}
.profile_about {
    margin: 25px 20px;
    width: 75vw;
    background-color: rgba(0, 12, 0, 0.5);
    border-radius: 20px;
}
.about {
    margin: 20px 80px;
    color: white;
    animation-name: slide;
    animation-duration: 1.5s;
    animation-timing-function: ease-in;
    animation-iteration-count: initial;
}

/* Contact Page */

#form-align {
    display: flex;
    align-items: center;
    justify-content: center;
}
#form-bg {
    display: grid;
    align-self: center;
    justify-self: center;
    font-size: 1.2em;
    margin-top: 50px;
    padding: 50px;
    width: 75vw;
    border-radius: 10px;
    background: linear-gradient(-90deg, rgba(5, 12, 0, 0.6), rgba(28, 34, 29, 0.6));
    color: azure;
}
input {
    background-color: rgba(35, 66, 3, 0.637);
    color: cornsilk;
    text-align: center;
    border: 3px solid cornsilk;
    border-radius: 5px;
    padding: 4px 4px;
    margin: 5px 0px;
    width: 40%;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: inherit;
    padding: 10px 0px;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 10px;
}
.message {
    text-align: start;
    width: 60%;
    height: 300px;
}
.submit {
    width: 75px;
    height: 40px;
    border-radius: 40px;
}








/* NAV BAR */
#bottom-nav {
    height: 60px;
    background: linear-gradient(rgb(3, 31, 7), rgb(250,250,250), rgb(3, 31, 7));
    overflow: hidden;
    position: fixed;
    bottom: 0;
    width: 100%;
}
#bottom-nav-links {
    display: flex;
    align-items: center;
    justify-content: center;
}
#bottom-nav-links > li  {
    margin: 5px 10%;
    list-style: none;
}
#links {
    text-decoration: none;
    padding: 10px;
    color: blanchedalmond;
    background-color: rgba(0, 0, 0, 0.822);
    border-radius: 20px;
}
#links:hover {
    background-color: black;
    color: green;
}