@keyframes slide {
    0% {
        position: relative;
        left: -10%;
        color: transparent;
        background: transparent;
    }
    100% {
        left: 10%;
    }
}
body {
    margin: 0px;
    width: 100%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1em;
    background: linear-gradient(90deg, rgba(12, 11, 11), rgba(4, 126, 4));
    align-content: center;
}

/* Home Page */
.title-box {
    display: flex;
    align-items: center;
    justify-content: center;
}
.title {
    display: flex;
    height: 90vh;
    width: 75vw;
    background: linear-gradient(-90deg, rgba(46, 53, 46, 0.5), rgba(1, 122, 1, 0.5));
    border-radius: 50px;
    align-items: center;
    justify-content: center;
}
h1 {
    margin: 25px;
    font-size: 2em;
    animation-name: slide;
    animation-duration: 1.5s;
    animation-timing-function: ease-in;
    animation-iteration-count: initial;
}
.Name {
    margin: 5px;
    font-size: 2em;
    background: linear-gradient(90deg, rgb(3, 114, 21), rgb(17, 12, 12));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    animation-name: slide;
    animation-duration: 1.5s;
    animation-timing-function: ease-in;
    animation-iteration-count: initial;
}

/* About Me Page */

.profile_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.profile_header {
    display: grid;
    grid-template-columns: auto auto auto;
    margin: 25px 10px;
    animation-name: slide;
    animation-duration: 1.5s;
    animation-timing-function: ease-in;
    animation-iteration-count: initial;
}
.profile_pic {
    height: 200px;
    width: 300px;
    margin: 20px;
    border-radius: 200px;
    animation-name: slide;
    animation-duration: 1.5s;
    animation-timing-function: ease-in;
    animation-iteration-count: initial;
}
.profile_about {
    margin: 25px 20px;
    width: 75vw;
    background-color: rgba(0, 12, 0, 0.5);
    border-radius: 20px;
}
.about {
    margin: 20px 80px;
    color: white;
    animation-name: slide;
    animation-duration: 1.5s;
    animation-timing-function: ease-in;
    animation-iteration-count: initial;
}

/* Contact Page */

#form-align {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 60px;
    height: 100vh;
}

#form-bg {
    display: grid;
    align-self: center;
    justify-self: center;
    font-size: 1.2em;
    /* margin-top: 50px; */
    padding: 50px;
    width: 75vw;
    border-radius: 10px;
    background: linear-gradient(-90deg, rgba(5, 12, 0, 0.6), rgba(28, 34, 29, 0.6));
    color: azure;
}

input {
    background-color: rgba(35, 66, 3, 0.637);
    color: cornsilk;
    text-align: center;
    border: 3px solid cornsilk;
    border-radius: 5px;
    padding: 4px 4px;
    margin: 5px 0px;
    width: 40%;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: inherit;
    height: 80vh;
    padding: 10px 0px;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 10px;
    animation-name: slide;
    animation-duration: 1.5s;
    animation-timing-function: ease-in;
    animation-iteration-count: initial;
}

.reasons {
    background-color: rgba(35, 66, 3, 0.637);
    color: cornsilk;
    border: 3px solid cornsilk;
    border-radius: 5px;
    padding: 4px 4px;
    margin: 5px 0px;
    width: 40%;
}

.message {
    background-color: rgba(35, 66, 3, 0.637);
    padding: 5px;
    border-radius: 5px;
    color: cornsilk;
    text-align: start;
    width: 60%;
    height: 300px;
}

.submit {
    width: 75px;
    height: 60px;
    background-color: rgba(53, 100, 5, 0.637);
    color: blanchedalmond;
    border: 3px solid white;
    border-radius: 40px;
    transition: 0.5s;
}
.submit:hover {
    cursor: pointer;
    border-color: black;
    transform: scale(1.1, 1.1);
    background-color: rgba(64, 124, 4, 0.637);
}

/* Projetcs Page*/

#page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 60px;
}
.title-container {
    font-size: 2em;
    margin: 30px;
    padding: 10px 20px;
    border-radius: 20px;
}


.projects-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: 
    linear-gradient(-90deg, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 0.3) 10% , rgba(128, 128, 128, 0.3) 90% , rgba(128, 128, 128, 0.05) 100%),
    linear-gradient(0deg, rgba(0, 0, 0, 0.05) 0%, rgba(0, 0, 0, 0.3) 10% , rgba(0, 0, 0, 0.3) 90% , rgba(0, 0, 0, 0.05) 100%),
    linear-gradient(45deg, rgba(0, 128, 0, 0.5) 0%, rgba(255, 255, 255, 0.5) 25%, rgba(0, 128, 0, 0.5) 50%, rgba(255, 255, 255, 0.5) 75%, rgba(0, 128, 0, 0.5) 100%);
    border-radius: 20px;
    width: 75vw;
    padding: 10px;
    color: ivory;
}
.project {
    display: grid;
    grid-template-columns: 25vw auto 25vw;
    grid-template-areas: 
    "Info . Image";
    border-radius: 5px;
    width: 85%;
    margin: 20px;
    padding: 20px 0px;
    background: linear-gradient(90deg, rgba(12, 11, 11, 0.5), rgba(4, 126, 4, 0.5));
    animation-name: slide;
    animation-duration: 1.5s;
    animation-timing-function: ease-in;
    animation-iteration-count: initial;

}
.project-info {
    padding-left: 10px;
    margin: 10px;
}
.icon {
    height: 30px;
    width: 30px;
}
.image-box {
    grid-column-start: 3;
    align-self: center;
}
.project-image {
    height: auto;
    width: 90%;
    margin: 10px;
    justify-self: center;
    border: 2px solid black;
    transition: 1s; 
}

.project-image:hover {
    transform: scale(1.1);
    border-color: blanchedalmond;
}

/*Background Styling*/
.bkg-st {
    position: fixed;
    z-index: -10;
    height: 100%;
    width: 100%;
    opacity: 0.5;
    background:
    linear-gradient(135deg, #708090 21px, #d9ecff 22px, #d9ecff 24px, transparent 24px, transparent 67px, #d9ecff 67px, #d9ecff 69px, transparent 69px),
    linear-gradient(225deg, #708090 21px, #d9ecff 22px, #d9ecff 24px, transparent 24px, transparent 67px, #d9ecff 67px, #d9ecff 69px, transparent 69px)0 64px;
    background-color: #708090;
    background-size: 64px 128px;
}
.bkg-st-1 {
    position: fixed;
    z-index: -15;
    top: 0px;
    bottom: 0px;
    right: 0px;
    left: 0px;
    background: linear-gradient(transparent 0%, rgba(26, 48, 26, 0.9) 30%, rgba(26, 48, 26, 0.9) 70%, transparent 100%);
    transform: skewY(25deg);

}
.logo {
    width: 20px;
    height: auto;
}

.logo-2 {
    width: 100%;
    height: auto;
}
.logo-3 {
    margin-right: 20px;
    width: 75px;
    height: auto;
}


/* NAV BAR */
#bottom-nav {
    height: 60px;
    background: linear-gradient(rgb(3, 31, 7, 0.5) 0%, rgb(3, 31, 7) 10%, rgb(250,250,250) 50%, rgb(3, 31, 7)) 90%, rgb(3, 31, 7, 0.5) 100%;
    overflow: hidden;
    position: fixed;
    bottom: 0;
    width: 100%;
}
#bottom-nav-links {
    display: flex;
    align-items: center;
    justify-content: center;
}
#bottom-nav-links > li  {
    margin: 5px 10%;
    list-style: none;
}
#links {
    text-decoration: none;
    padding: 10px;
    color: blanchedalmond;
    background-color: rgba(0, 0, 0, 0.822);
    border-radius: 20px;
}
#links:hover {
    background-color: black;
    color: green;
}